/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left, #d279a5, #5b74b7);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-box h1 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
}
.check{
    display: flex;
    justify-content: space-between;
}
.login-box input::placeholder {
    color: #ddd;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 14px;
    color: #ddd;
}

.remember-forgot a {
    color: #00c3ff;
    text-decoration: none;
}

.remember-forgot input {
    cursor: pointer;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #ff3385;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #ff007f;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
    color: white;
}

.signup-link a {
    color: #00c3ff;
    text-decoration: none;
    font-weight: bold;
}
